@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "BM-Hanna";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/BMHANNA_11yrs.otf");
}

@layer base {
    h1 {
      @apply text-5xl;
    }

      /* Scroll Hide*/
    :root{
      --splash-color: #D84242;
      -ms-overflow-style: none; 
      scrollbar-width: none; 
    }
    ::-webkit-scrollbar {
      display: none;
    }
  }
  
  @layer components {
    .example{
        color: greenyellow;
    }
    
  }
  
  @layer utilities {

}



